Source: ros-kinetic-coordination-oru-ros
Section: misc
Priority: extra
Maintainer: Federico Pecora <federico.pecora@oru.se>
Build-Depends: debhelper (>= 9.0.0), python-rosdistro, ros-kinetic-catkin, ros-kinetic-coordination-oru-msgs, ros-kinetic-genjava, ros-kinetic-message-generation, ros-kinetic-rosjava-build-tools, ros-kinetic-rosjava-messages, ros-kinetic-roslib
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-coordination-oru-ros
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-coordination-oru-msgs, ros-kinetic-message-runtime
Description: The coordination_oru_ros package
